---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import { getCollection } from 'astro:content';

import { headerData, footerData } from '~/navigation';
import { getPermalink } from '~/utils/permalinks';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;

const games = await getCollection('games');
const apps = await getCollection('apps');

const footerLinks = [
  {
    title: '게임',
    links: [
      { text: '전체보기', href: getPermalink('/games') },
      ...games.map((game) => ({ text: game.data.title, href: getPermalink(`/games/${game.id}`) })),
    ],
  },
  {
    title: '앱',
    links: [
      { text: '전체보기', href: getPermalink('/apps') },
      ...apps.map((app) => ({ text: app.data.title, href: app.data.storeUrl || getPermalink('/apps') })),
    ],
  },
  ...footerData.links,
];
---

<Layout metadata={metadata}>
  <slot name="header">
    <Header {...headerData} isSticky showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} links={footerLinks} />
  </slot>
</Layout>
